<div>
	Name: {{user.name}} <br> <br>
	<img ng-src="{{user.avatar_url}}" class="pull pull-right"> <br>
	Order:
	<select ng-model="repoSortOrder">
		<option value="+name">Name</option>
		<option value="-stargazers_count">Stars</option>
		<option value="+language">Language</option>
	</select>
</div> <br>
				
<table ng-hide="!user">
	<thead>
		<tr>
			<th>Name</th>
			<th>Stars</th>
			<th>Language</th>
			<th>Size of the file</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="repo in repos | orderBy:repoSortOrder">
			<td>{{repo.name}}</td>
			<td>{{repo.stargazers_count | number}}</td>
			<td>{{repo.language}}</td>
			<td>{{repo.size}}</td>
		</tr>	
	</tbody>
</table>